<div id="Login">
  <div class="min-h-screen flex items-center justify-center bg-gray-100">
    <div class="max-w-md w-full p-6 bg-white shadow-lg rounded-lg">

      <div class="Login-Header">
        <%= image_tag("logo.png", alt: "Logo", class: "logo") %>
        <h1 class="text-2xl font-bold mb-6">Log in</h1>
      </div>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "space-y-4" }) do |f| %>
        <div class="Login-Content-email">
          <%= f.label :email, class: "block text-sm font-medium text-gray-700" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "block w-full px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50" %>
        </div>

        <div class="Login-Content-password">
          <%= f.label :password, class: "block text-sm font-medium text-gray-700" %>
          <%= f.password_field :password, autocomplete: "current-password", class: "block w-full px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="Login-Content-remember">
            <%= f.check_box :remember_me, class: "text-blue-500 border-gray-300 rounded focus:ring-blue-500" %>
            <%= f.label :remember_me, class: "text-sm text-gray-700" %>
          </div>
        <% end %>

        <div class="Login-button">
          <%= f.submit "Log in", class: "w-full py-2 px-4 bg-blue-500 hover:bg-blue-700 text-white font-semibold rounded-md focus:outline-none focus:ring focus:ring-blue-500 focus:ring-opacity-50" %>
        </div>
      <% end %>
      <div class="Login-links">
        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
</div>
